<%- partial('_partial/head') %>

  <body class="body">
    <%- partial('_partial/header') %>

      <section class="wrapper">
        <ul class="post-list">
          <% 
            if (site.posts.length) {
              site.posts.sort('date', -1).each(function (post) { 
          %>
            <li class="post-item">
              <a href="<%= url_for(post.path) %>" class="post-link no-link">
                <%
                  if (post.tags.length) {
                %>
                <ul class="tags-list">
                  <%
                    post.tags.each(function (tag) {
                  %>
                  <li class="tags-item"><%= tag.name %></li>
                <% 
                  });
                 %>
                </ul>
                 <%
                  }
                %>
                <span class="post-date"><%= moment(post.date).format('DD/MM/YYYY') %></span>
                <strong class="post-title"><%= post.title %></strong>
                <span class="post-subtitle"><%= post.subtitle %></span>
              </a>
            </li>
          <% 
              }) 
            }
          %>
        </ul>
      </section>

      <%- partial('_partial/footer') %>
  </body>