<article class="article" data-progress>
  <div class="wrapper">
    <a href="/blog/" class="back-button">Voltar</a>
    <header class="article-header">
      <h1 class="article-title"><%= post.title %></h1>
      <h2 class="article-subtitle"><%= post.subtitle %></h2>
      <span class="article-date"><%= config.weekday[moment(post.date).format('d')]%>, <%=moment(post.date).format('DD/MM/YYYY') %></span>
    </header>
    
    <hr>
    <section class="article-description" data-content>
      <%- post.content %>
    </section>
    <hr>

    <div class="share">
      <!-- AddThis -->
      <!-- Go to www.addthis.com/dashboard to customize your tools --> 
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59b90e1ff065b646"></script> 
      <div class="addthis_inline_share_toolbox"></div>
    </div>
  </div>
</article>

<!-- Reading Progress Bar -->
<%- js('article') %>