<article class="article">
  <div class="wrapper">
    <a href="/blog/" class="back-button">Voltar</a>
    <header class="article-header">
      <h1 class="article-title"><%= post.title %></h1>
      <h2 class="article-subtitle"><%= post.subtitle %></h2>
      <span class="article-date"><%= config.weekday[moment(post.date).format('d')]%>, <%=moment(post.date).format('DD/MM/YYYY') %></span>
    </header>
    
    <hr>
    <section class="article-description">
      <%- post.content %>
    </section>
    <hr>

    <div class="share">
      <!-- Go to www.addthis.com/dashboard to customize your tools --> 
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59b90e1ff065b646"></script> 
      <div class="addthis_inline_share_toolbox"></div>
    </div>
    
    <section class="comment">
      <span class="comment-title">O que achou do post?</span>
      <span class="comment-subtitle">Deixei seu comentário :)</span>

      <div class="comment-facebook">
          <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.10&appId=590318937813964";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));</script>
      </div>
      <div class="fb-comments" data-href="<%= post.permalink %>" data-width="100%" data-numposts="5"></div>
    </section>
  </div>
</article>

<!-- Reading Progress Bar -->
<script>
    var readingProgressBar = {
      config: {
        article: '[data-progress]',
        articleRead: '[data-content]',

        progress: null
      },

      events: {
        windowScroll: function () {
          var bodyScrollHeight = document.body.scrollHeight;
          var pageHeight = document.documentElement.clientHeight;
          var windowPosition = window.scrollY;

          var progress = (windowPosition / (bodyScrollHeight - pageHeight) * 100);
          progress = parseInt(progress);

          readingProgressBar.config.article.dataset.progress = progress;
        },

        init: function () {
          window.onscroll = readingProgressBar.events.windowScroll;
        }
      },

      init: function() {
        (function queryElements () {
          readingProgressBar.config.article = document.querySelector(readingProgressBar.config.article);
          readingProgressBar.config.articleRead = document.querySelector(readingProgressBar.config.articleRead);
        })();

        readingProgressBar.events.init();
      }
    };
    
    readingProgressBar.init();
  </script>